*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

p {
    text-wrap: pretty;
}

img {
    height: 30px;
    width: 30px;
}

input {
    width: 400px;
    max-height: 2rem;
    border-radius: 2rem;
    padding: 0.25rem;
}

.container {
    display: grid;
    height: auto;
    min-height: 100vh;
    grid-template: repeat(10, auto) / repeat(10, 1fr);
}

.header {
    grid-area: 1/ 3/ 3/ -1;
    background-color: rgb(204, 78, 153);
}

.upper-header {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.lower-header {
    padding: 0.5rem;
    display: flex;
}

.lower-header ul {
    display: flex;
}

.sidebar {
    grid-area: 1/ 1/ -1/ 3;
    background-color: aquamarine;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
}

.upper-sidebar {
    display: flex;
}

.main-body {
    grid-area: 3/ 3/ -1/ -3;
    gap: 0.5rem;
}

.main-body > div {                   /* grid for cards */
    display: grid;
    grid-template: repeat(3, minmax(150px, auto)) / repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    gap: 0.5rem;
}

.card {
    padding: 2rem;
    background-color: rgb(162, 139, 139);
    border-radius: 1rem;
}

.card .heading {
    font-weight: bold;
    padding: 0 0 0.5rem 0;
}

.nav {
    grid-area: 3/ -3/ -1/ -1;
    background-color: rgb(223, 183, 132);
}
